@model Employee
@{
    ViewData["Title"] = "Add Employee";
}
<h2>@ViewData["Title"]</h2>
<form asp-action="Add" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="FirstName">First Name</label>
        <input asp-for="FirstName" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="LastName">Last Name</label>
        <input asp-for="LastName" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="DOB">Birth Date</label>
        <input asp-for="DOB" type="date" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="DateOfHire">Hire Date</label>
        <input asp-for="DateOfHire" type="date" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="ManagerId">Manager</label>
        <select asp-for="ManagerId" class="form-control">
            @foreach (var Employee in ViewBag.Employees)
            {
                <option value="@Employee.EmployeeId">@Employee.FirstName @Employee.LastName</option>
            }
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Add</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary">Cancel</a>
    </div>
</form>